body {
  font-family: 'Rammetto One', cursive;
  font-size: 35px;
  font-weight: bold;
  line-height: 34px;
  color: black;
  background: url("../images/psychedelic.jpg");
}

h1 {
  font-size: 100px;
  /* color: black; */
  padding: 40px;
  margin-top: 40px;
}

h3 {
  font-size: 60px;
  /* color: black; */
  padding: 40px;
}

p {
  font-size: 40px;
  /* color: black; */
  padding: 40px;
}
